/*------------------
-------BODY
------------------*/

body{
    font-family: 'Lora', serif;
    margin: 0;
}
/*------------------
-------HEADER
------------------*/
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-bar{
    display: flex;
}
.nav-bar li{
    list-style: none;
    margin: 10px;
}
.nav-bar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.fas{
    margin: 10px;
}
/*------------------
-------1ST SECTION
------------------*/
.sec01{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
}
.half-width{
    width: 50%;
}
.half-width h1{
    font-size: 50px;
    color: rgb(59, 57, 57);
}
.half-width img{
    width: 70%;
    border: solid 3px black;
    border-radius: 50%;
}

/*------------------
-------BUTTON
------------------*/
.button{
   text-decoration: none;
   text-align: center;
   background-color: tomato;
   color: white;
   border-radius: 2em;
   padding: 10px 30px;
   font-weight: 800;

}
.button:hover {
    background-color:black;
    transition: 0.5s;
}

/*------------------
-------LOGO
------------------*/
.hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 40px;
}
.logos img{
    width: 80px;
    height: 50px;
    padding-left: 5em;
    margin-right: 20px;  
}
/*------------------
-------POPULAR COLLECTION
------------------*/
.collection-title{
    text-align: center;
    color: rgb(59, 57, 57);
    padding-top: 3em;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin-left: 6em;
    
}
.item{
    align-items: center;
width: 300px;
height: 600px;
margin-top: 4em;
padding: 10px;
box-shadow: 5px 10px 18px #888888;
padding-left: 1em;

}
.items .item .item-img img{
    width: 250px;
    height: 200px;
    padding-left: 1em;
}
.item-ratting{
    display: flex;
    align-items: center;
}
.item-ratting .fas{
    color: #ffc014;
    font-size: 12px;
}
.ratting-clr{
    color: rgba(112, 108, 108, 0.829);
}
/*------------------
-------SEE MORE
------------------*/
.see{
    color: tomato;
    font-weight: 700;
    margin-left: 87%;
    margin-top: 3em;
    margin-bottom: 3em;
}
/*------------------
-------FUTURE MARKETING
------------------*/
.future-marketing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: 3em;
}
/*------------------
-------FOOTER
------------------*/
.footer{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: rgb(2, 2, 37);
    color: white;
}
/*------------------
-------media
------------------*/ 

/*------------------
-------mobile
------------------*/ 
@media only screen and ( max-width: 688px) {
    .nav-bar{display: none;
}
.sec01{
    display: grid;
    grid-gap: 2em;
    width: 100%;
}
.logos{
    display: none;
}
.items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.see{
    text-align: center;
}
.future-marketing{
    display: grid;
    grid-gap: 2em;
    width: 100%;
}
}

/*------------------
-------tablet
------------------*/
@media only screen and (min-width: 689px) and (max-width: 991px) {
    .nav-bar{display: none;
    }
    .sec01{
        display: grid;
        grid-gap: 2em;
        width: 100%;
    }
    .logos{
        display: none;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .see{
        text-align: center;
    }
    .future-marketing{
        display: grid;
        grid-gap: 2em;
        width: 100%;
    }
    
}




/*------------------
-------END
------------------*/ 